<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <base href="@Url.Content("~")" />
    @Styles.Render("~/Content/css")
    
    <script src="~/node_modules/zone.js/dist/zone.js"></script>
    <script src="~/node_modules/reflect-metadata/Reflect.js"></script>
    <script src="~/node_modules/systemjs/dist/system.src.js"></script>
    <script src="~/Scripts/systemjs.config.js"></script>


    <script>
        System.import('ScriptsAppNg2').catch(console.error.bind(console));
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Proxy Generator", "AngularCalls", "Proxy", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Angular Proxy Calls", "AngularCalls", "Proxy")</li>
                    <li>@Html.ActionLink("JQuery Proxy Calls", "JQueryCalls", "Proxy")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 25px;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/myScripts")
    @Scripts.Render("~/bundles/angularApp")
</body>
</html>
